<div class="container cart-details" ng-controller="CartCtrl"
	ng-init="show()">

	<div class="row">
		<div class="title"
			ng-class="{ 'col-md-12': isEmpty(), 'col-md-7': !isEmpty() }">
			<h2>Carrinho</h2>
		</div>
		<div class="steps col-md-5" ng-if="!isEmpty()">
			<ul>
				<li class="col-md-4 active" style="text-align: center;"><div
						class="circle"></div> Resumo</li>
				<li class="col-md-4" ng-if="stepCheck(0)"
					style="text-align: center;"><div class="circle"></div>
					Pagamento e Entrega</li>
				<li class="col-md-4 active" ng-if="stepCheck(1) || stepCheck(2)"
					style="text-align: center;"><div class="circle"></div>
					Pagamento e Entrega</li>
				<li class="col-md-4" style="text-align: center;" ng-if="!stepCheck(2)")><div
						class="circle"></div> Confirmação</li>
				<li class="col-md-4 active" style="text-align: center;" ng-if="stepCheck(2)")><div
						class="circle"></div> Confirmação</li>		
			</ul>
		</div>
		<div class="col-md-12" ng-if="isEmpty()">Os produtos que você
			adicionar ao carrinho aparecerão aqui.</div>
		<div class="col-md-12" ng-if="!isEmpty() && stepCheck(0)">
			<h3>Resumo do pedido</h3>
			<table class="table table-striped">
				<tr>
					<th>Nome</th>
					<th>Quantidade</th>
					<th>Preço</th>
				</tr>
				<tr ng-repeat="(id, data) in cart" ng-if="cart[id].quantity > 0">
					<td>{{data.product.name}}</td>
					<td><input type="number" ng-model="data.quantity"
						value="{{data.quantity}}" ng-change="onQttChange(id, data)"
						min="0" max="data.product.stock" />
					<td>
					<td>{{data.quantity * data.product.price | currency:'R$ '}}</td>
                    <td><button type="button" class="btn btn-danger" ng-click="remove(id, data)">Remover</button></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td>SubTotal</td>
					<td>{{orderInfo.subTotal | currency:'R$ '}}</td>
				</tr>
				<tr>
					<td></td>
					<td>Frete</td>
					<td>{{orderInfo.postalFee | currency:'R$ '}}
						{{orderInfo.expectedDays ? ' (Entrega estimada em ' +
						orderInfo.expectedDays + ' dias)' : '' }}</td>
				</tr>
				<tr>
					<td></td>
					<td>Total</td>
					<td>{{orderInfo.postalFee ? orderInfo.postalFee +
						orderInfo.subTotal : orderInfo.subTotal | currency:'R$ '}}</td>
				</tr>
				<tr>
					<td style="text-align: right; padding-right: 24px;">Calcular
						Frete:</td>
					<td><label> <input name="group1" type="radio"
							ng-model="tipoEntrega" value="SEDEX" /> <span>Sedex</span>
					</label> <label> <input name="group1" type="radio"
							ng-model="tipoEntrega" value="PAC" /> <span>Pac</span>
					</label></td>
					<td>
						<div class="input-field">
							<input type="text" id="cep" ng-model="varCep" ng-change="hasChanged = true" ng-value="varCep"/> <label for="cep" class="active | hasChanged">Digite
								aqui o CEP</label>
						</div>
						<button type="button" class="btn"
							ng-click="getPostalFee(varCep, tipoEntrega)" type="button">Calcular
							frete</button>
					</td>
				</tr>
			</table>

		</div>
		<div class="col-md-12" ng-if="!isEmpty() && stepCheck(1)">
			<h3>Informações de pagamento e entrega</h3>
			<div class="col-md-5" style="padding-left: 0">
				<table class="table table-striped">
					<tr>
						<td>SubTotal</td>
						<td>{{orderInfo.subTotal | currency:'R$ '}}</td>
					</tr>
					<tr>
						<td>Frete</td>
						<td>{{orderInfo.postalFee | currency:'R$ '}}</td>
					</tr>
					<tr>
						<td>Total</td>
						<td>{{orderInfo.postalFee ? orderInfo.postalFee +
							orderInfo.subTotal : orderInfo.subTotal | currency:'R$ '}}</td>
					</tr>
				</table>

				<div class="payment-info">
					<h4 style="font-size: 16px; margin-top: 24px; margin-bottom: 16px;">Pagamento</h4>
					<p>
						<label> <input name="group1" type="radio"
							ng-model="selected" value="1" ng-change="selectPayment(1)" /> <span>Boleto</span>
						</label>
					</p>
					<p>
						<label> <input name="group1" type="radio"
							ng-model="selected" value="2" ng-change="selectPayment(2)" /> <span>Cartão
								de Crédito</span>
						</label>
					</p>
					<p ng-hide="selected != 1">O pedido será confirmado após o
						pagamento que deverá ser feito em até 3 dias úteis. O boleto
						estará disponível ao final da compra.</p>
					<div ng-hide="selected != 2">
						<div class="col-md-12" style="padding-left: 0">
							<div class="input-field">
								<input type="text" id="creditCard"
									ng-model="cart.payment.creditCard" /> <label for="creditCard">Número
									do Cartão</label>
							</div>
						</div>
						<div class="col-md-6" style="padding-left: 0">
							<div class="input-field">
								<input type="text" id="expirationDate"
									ng-model="cart.payment.expirationDate" /> <label
									for="expirationDate">Data de Vencimento</label>
							</div>
						</div>
						<div class="col-md-4" style="padding-left: 0">
							<div class="input-field">
								<input type="text" id="cvv" ng-model="cart.payment.cvv" /> <label
									for="cvv">CVV</label>
							</div>
						</div>
						<div class="col-md-12" style="padding-left: 0">
							<div class="input-field">
								<input type="text" id="name" ng-model="cart.payment.name" /> <label
									for="name">Nome no Cartão</label>
							</div>
						</div>
						<div class="col-md-12" style="padding-left: 0">
                            <button type="button" class="btn"
                                ng-click="validateCreditCard()" type="button">Validar Cartão de Credito</button>
                        </div>
					</div>
				</div>
			</div>
			<div class="col-md-7">
				<div class="col-md-6">
					<div class="input-field">
						<input type="text" id="cepp" ng-model="varCep" value="varCep" disabled />
					</div>
				</div>
				<div class="col-md-12">
					<div class="input-field">
						<input type="text" id="street" disabled
							ng-model="cart.address.street" />
					</div>
				</div>
				<div class="col-md-4">
					<div class="input-field">
						<input type="number" id="number" ng-model="cart.address.number" />
						<label for="number">Número</label>
					</div>
				</div>
				<div class="col-md-8">
					<div class="input-field">
						<input type="text" id="complement"
							ng-model="cart.address.complement" /> <label for="complement">Complemento</label>
					</div>
				</div>
				<div class="col-md-4">
					<div class="input-field">
						<input type="text" id="district" disabled
							ng-model="cart.address.district" />
					</div>
				</div>
				<div class="col-md-5">
					<div class="input-field">
						<input type="text" id="city" disabled ng-model="cart.address.city" />
					</div>
				</div>
				<div class="col-md-3">
					<div class="input-field">
						<input type="text" maxlength="2" id="state" disabled
							ng-model="cart.address.state" />
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12" ng-if="!isEmpty() && stepCheck(2)">
			<h3>Confirmação do pedido</h3>
			<div class="col-md-12" style="padding-left: 0">
				<table class="table table-striped">
				<tr>
					<th>Nome</th>
					<th>Quantidade</th>
					<th>Preço</th>
				</tr>
				<tr  ng-if="id != 'address'" ng-repeat="(id, data) in cart">
					<td >{{data.product.name}}</td>
					<td ><input type="number" ng-model="data.quantity"
						value="data.quantity" ng-change="onQttChange(id, data)"
						min="0" max="cart[id].product.stock" required/>
					</td >
					<td >{{data.quantity * data.product.price | currency:'R$ '}}</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td>SubTotal</td>
					<td>{{orderInfo.subTotal | currency:'R$ '}}</td>
				</tr>
				<tr>
					<td></td>
					<td>Frete</td>
					<td>{{orderInfo.postalFee | currency:'R$ '}}
						{{orderInfo.expectedDays ? ' (Entrega estimada em ' +
						orderInfo.expectedDays + ' dias)' : '' }}</td>
				</tr>
				<tr>
					<td></td>
					<td>Total</td>
					<td>{{orderInfo.postalFee ? orderInfo.postalFee +
						orderInfo.subTotal : orderInfo.subTotal | currency:'R$ '}}</td>
				</tr>
			</table>
			</div>
			<div class="col-md-7">
				<div class="col-md-6">
					<div class="input-field">
						<input type="text" id="cep" ng-model="cart.address.cep" value="" disabled/>
					</div>
				</div>
				<div class="col-md-12">
					<div class="input-field">
						<input type="text" id="street" ng-model="cart.address.street" disabled/> 
					</div>
				</div>
				<div class="col-md-4">
					<div class="input-field">
						<input type="number" id="number" ng-model="cart.address.number" disabled/>
					</div>
				</div>
				<div class="col-md-8">
					<div class="input-field">
						<input type="text" id="complement"
							ng-model="cart.address.complement" disabled/>
					</div>
				</div>
				<div class="col-md-4">
					<div class="input-field">
						<input type="text" id="district" ng-model="cart.address.district" disabled/>
					</div>
				</div>
				<div class="col-md-5">
					<div class="input-field">
						<input type="text" id="city" ng-model="cart.address.city" disabled/> 
					</div>
				</div>
				<div class="col-md-3">
					<div class="input-field">
						<input type="text" maxlength="2" id="state"
							ng-model="cart.address.state" disabled/>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12" style="padding: 16px 0" ng-if="!isEmpty()">
			<button class="btn secondary pull-right" ng-click="flush()" ng-if="!stepCheck(2)">Continuar</button>
			<button class="btn secondary pull-right" ng-click="flush()" ng-if="stepCheck(2)">Finalizar Pedido</button>
		</div>
	</div>
</div>
