<div class="container createAccount-container infoAccount-container" ng-controller="InfoAccountCtrl">
    <div class="row">
        <div class="col-md-12" style="padding:0;">
            <div class="col-md-12">
                <h4>Minha conta</h4>
            </div>
            <div class="col-md-6">
                
                <h3>Dados pessoais</h3>
                <div class="col-md-6" style="padding-left: 0">
                    <label>CPF</label>
                    <p>{{user.cpf}}</p>
                </div>
                <div class="col-md-6" style="padding-left: 0">
                    <label>Nome</label>
                    <p>{{user.name}}</p>
                </div>
                <div class="col-md-6" style="padding-left: 0">
                    <label>Telefone</label>
                    <p>{{user.telephone}}</p>
                </div>
                <div class="col-md-6" style="padding-left: 0">
                    <label>Data de nascimento</label>
                    <p>{{user.birthDate}}</p>
                </div>
                <div class="col-md-6" style="padding-left: 0">
                    <label>E-mail</label>
                    <p>{{user.email}}</p>
                </div>
                <div class="col-md-6" style="padding-left: 0">
                    <label>Endereço</label>
                    <p>{{user.address}}</p>
                </div>
                <div class="col-md-12" style="padding-left: 0; display: inline-block;">
                    <div style="margin-top: 16px;">
                        <a href="/myaccount/edit" class="btn btn-primary btn-md">Editar dados</a>
                        <input type="button" class="btn-flat" ng-click="logout()" style="color: #f73b3b;" value="Sair"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6" ng-init="init();"> 
                <h3 class="col-md-6" style="padding-left: 0;">Meus pedidos</h3>
                <span class="col-md-6 total-pedidos" style="text-align: right; margin: 1.9466666667rem 0 1.168rem 0;">4 pedidos</span>
                <ul class="meus-pedidos col-md-12" style="padding-left: 0;">
                    <li class="col-md-12" ng-click="openModal();" style="cursor: pointer;">
                        <div class="col-md-12 pedido-id" style="padding-left: 0;">Pedido 1024812</div>
                        <div class="col-md-12 pedido-status" style="padding-left: 0;">Entregue</div>
                        <div class="col-md-4" style="padding-left: 0;">4 itens</div>
                        <div class="col-md-4" style="text-align:center;">R$ 1200,00</div>
                        <div class="col-md-4" style="padding-right: 0; text-align:right;">02/06/2018</div>
                                                   
                    </li>
                </ul>   
                <div id="modal1" class="modal modal-fixed-footer">
                    <div class="modal-content">
                        <h4 style="font-size:22px;">Pedido 1024812</h4>
                        <div class="row">
                            <div class="col-md-12" style="padding-left: 0">
                                <label>Número de Rastreamento</label>
                                <p>BR1923UIFA9</p>
                            </div>
                            <div class="col-md-12" style="padding-left: 0">
                                <label>Status Pagamento</label>
                                <p>Pago em 12/06/2018</p>
                            </div>
                            <div class="col-md-12" style="padding-left: 0">
                                    <label>Status Entrega</label>
                                    <p>A caminho do destinatário</p>
                                </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fechar</a>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>