<nav>
  <div class="nav-wrapper ">
    <a href="/" class="brand-logo">Produtos 01</a>
    <span class="nav-search-field hide-on-med-and-down">
        <input type="text" class="browser-default" placeholder="Buscar por produtos ou categorias">
        <button type="button" class="waves-effect btn btn-flat">Buscar</button>
    </span>

    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/login">Entrar</a></li>
      <li><a href="/newAccount">Criar conta</a></li>
    </ul>
  </div>
</nav>
