<nav>
  <div class="nav-wrapper valign-wrapper">
    <a href="/" class="brand-logo">Produtos 01</a>
    <span class="nav-search-field hide-on-med-and-down" style="flex: 1 1;">
        <input type="text" class="browser-default" placeholder="Buscar por produtos ou categorias">
        <button type="button" class="waves-effect btn btn-flat">Buscar</button>
    </span>

    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/shopping-cart"><img src="../image/outline-shopping_cart-24px.svg"/></a></li>
      <li><a href="/login">entrar</a></li>
      <li><a href="/newAccount">criar conta</a></li>
    </ul>
  </div>
</nav>
