<div class="container login-container">
    <div class="row">
        <div class="col-md-12">
            <h4>Bem-vindo!</h4>
            <div class="form-login">
                <div class="input-field">
                    <input type="text" id="userName" ng-model="user.username" class="validate"/>
                    <label for="userName">Usuário</label>
                </div>
                <div class="input-field">
                    <input type="password" id="userPassword" ng-model="user.password" class="validate"/>
                    <label for="userPassword">Senha</label>
                </div>
                <div class="wrapper">
                    <span class="group-btn">
                        <a href="#" class="btn btn-primary btn-md" onclick="login()">Entrar <i class="fa fa-sign-in"></i></a>
                    </span>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="createAccount">
                <div class="center-align" style="font-size: 18px; margin-bottom: 1rem;">Ainda não tem uma conta?</div>
                <a href="/newAccount" class="btn center-align btn-md">Criar uma conta</i></a>
            </div>
        </div>
    </div>
</div>
