<!DOCTYPE html>
<html lang="en">
<script src="angular.js"></script>
<script>
    var app = angular.module('myApp', []);
    app.controller('formCtrl', function($scope) {

        $scope.message = ""

        $scope.submit = function(){
            if($scope.user == "admin@admin.com" && $scope.password == "password"){
                console.log("Passou aqui");
                $scope.message = "Olá " + $scope.user + "!";
            } else {
                console.log("Passou aquiiiiii");
                $scope.message = "Sorry!";
            }
        }

    });
</script>
<head>
    <meta charset="UTF-8">
    <title>Loja Virtual - Administração</title>
</head>
<body ng-app="myApp">
    <div ng-controller="formCtrl" ng-submit="submit()">
        <form>
            <div><input type="email" ng-model="user"/></div>
            <div><input type="password" ng-model="password"/></div>
            <div><input type="submit" value="Enviar"/></div>
        </form>
    </div>
    {{ message }}
</body>
</html>
