* {
    font-family: 'Roboto', sans-serif;
}

body {
    color: #494949;
}

html,
body {
    height: 100%;
    position: relative;
}

.main-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 80px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

label {
    font-weight: normal;
}
nav .nav-wrapper a.brand-logo {
    position: relative;
    padding: 0 1em;
    text-decoration: none;
    font-weight: 300;
    font-size: 24px;
}

nav .nav-wrapper a.brand-logo:hover {
    text-decoration: none;
    background-color: rgba(0,0,0, 0.08);
}

header nav .nav-search-field {
    width: 30%;
}

header nav .nav-search-field button.btn-flat {
    color: #f2f2f2;
}

header nav .nav-search-field button.btn-flat:hover {
    background-color: rgba(0,0,0, 0.1);
}

header nav .nav-search-field input[type="text"] {
    height: 36px;
    width: 40%;
    border: none;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.24);
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 0.5rem;
}

ul {
    list-style: none;
    margin: 0;
}

.loading {
    text-align: center;
    padding-top: 2rem;
}

.products ul li {
    padding: 16px;
    transition: all .16s ease-in-out;
    max-height: 330px;
    min-height: 330px;
}

.products ul li a, .products ul li a:hover {
    text-decoration:  none;
    color: #494949;
}

.products ul li:hover {
    background-color: rgba(111, 111, 111, 0.05);
    cursor: pointer;
}

.products ul li div.product-img {
    height: 200px;
    text-align: center;
    line-height: 200px;
}

.products ul li img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.products li .product-name {
    font-size: 16px;
    margin: 0.25rem 0;
    padding-left: 0.5rem;
}

.products li .product-price {
    font-size: 18px;
    color: #02aad5;
    font-weight: 300;
    padding-left: 0.5rem;
}

.categories .categories-title {
    font-size: 16px;
    text-transform: none;
    font-weight: 300;
    margin-top:0;
}

.categories ul {
    overflow-x: scroll;
    white-space: nowrap;
    padding: 0;
    margin-bottom: 2rem;
}
.categories ul > li {
    display: inline-block;
    background-color: #02aad5;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 2px;
    cursor: pointer;
    transition: all .16s ease-in-out;
}

.categories ul > li:hover {
    background-color: rgb(2,150,188);
}

.products h2,
.cart-details h2 {
    font-size: 24px;
    font-weight: 300;
}

.cart-details h3 {
    font-size: 16px;
    color: #888888;
    margin-top: 0;
}

.no-gutter [class^="col-"] {
    padding-left:0;
    padding-right:0;
}

.form-login {
    margin-top: 2.5rem;
}

/* label color */
 .input-field label {
   color: #494949;
 }
 /* label focus color */
.input-field input[type]:focus + label {
   color: #9596bf;
 }
 /* label underline focus color */
.input-field input[type]:focus {
   border-bottom: 1px solid #9596bf;
   box-shadow: 0 1px 0 0 #9596bf;
 }

header {
    margin-bottom: 24px;
}

header nav {
    background-color: #008ac8;
}

.btn:not(.btn-flat) {
    background-color: #1d4f91;
}

.btn.secondary:not(.btn-flat) {
    background-color: #F18F01;
}

.login-container h4 {
    font-weight: 300;
}

h1, h2, h3, h4, h5 {
    font-weight: 300;
}

.login-container .createAccount,
.createAccount-container .existing-account {
    text-align: center;
    padding: 2rem;
    margin-top: 4rem;
    background-color: #fafafe;
    border: 1px solid #f2f2f5;
    border-radius: 2px;
}

.createAccount-container .existing-account {
    margin-top: 0;
    margin-bottom: 2rem;
}

.createAccount-container h3 {
    font-size: 18px;
    color: #888888;
}

a.btn:not(.btn-flat):hover, button.btn:not(.btn-flat):hover {
    text-decoration: none;
    color: #f2f2f2;
    background-color: rgba(33,54,110,1);
}

a.btn.secondary:not(.btn-flat):hover, button.btn.secondary:not(.btn-flat):hover {
    text-decoration: none;
    color: #f2f2f2;
    background-color: rgb(241,143,1);
}

nav a:hover,
nav a:focus {
    text-decoration: none;
    color: #f2f2f2;
}

nav a:focus {
    background-color: rgba(0,0,0, 0.1);
}

footer .footer {
    font-size: 14px;
    font-weight: 300;
    background-color: #F7F7F7;
    padding: 2rem;
}

loading.loading-btn {
    display: inline-block;
}

loading.loading-btn .loading {
    padding-top: 0;
}

loading.loading-btn .preloader-wrapper {
    width: 24px;
    height: 24px;
}

.product-details {
    padding-top: 1rem;
}

.product-details .product-img {
    width: 328px;
    height: 328px;
    text-align: center;
    margin: auto;
}

.product-details .product-img img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.product-details .product-name h1 {
    font-size: 28px;
    font-weight: 300;
    color: #545454;
}

.product-details .product-price {
    font-size: 32px;
    font-weight: 300;
    color: #02aad5;
    letter-spacing: -0.12px;
}

.product-details .product-price .payment-options {
    font-size: 16px;
    color: #545454;
}

.product-details .product-actions {
    margin: 2.5rem 0;
}

.product-details h2 {
    font-weight: 300;
    font-size: 18px;
    color: #545454;
}

.cart-details .steps ul li:not(.active) {
    font-weight: 300;
    color: #AEAEAE;
}

.cart-details .steps ul li.active {
    font-weight: 500;
    color: #02aad5;
}

.cart-details .steps ul li .circle {
    height: 20px;
    width: 20px;
    margin: 0.5rem auto;
}

.cart-details .steps ul li:not(.active) .circle {
    background-color: #AEAEAE;
}

.cart-details .steps ul li.active .circle {
    background-color: #02aad5;
}

.cart-details .steps li.col-md-4 .circle:before {
    content: ' ';
    width: 93px;
    height: 2px;
    background: #AEAEAE;
    display: inline-block;
    position: absolute;
    top: 17px;
    transform: translate(-50%);
    left: 0;
    z-index: -1;
}

.cart-details .steps li.col-md-4:first-child .circle:before {
    display: none;
}

.cart-details.step-2 [type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: #F18F01;
    border: 2px solid #F18F01;
}

.cart-details.step-2 .payment-info label {
    color: #494949;
}

.cart-details.step-2 .payment-info p {
    margin: 16px 0;
}


.infoAccount-container label {
    font-size: 16px;
    font-weight: 300;
}